beautifulsoup4==4.4.1
bleach==1.4.2
chardet==2.3.0
Django==1.9.6
django-contrib-comments==1.7.1
django-debug-toolbar==1.4
git+https://github.com/stephenmcd/filebrowser-safe.git@703babe#egg=filebrowser-safe
future==0.15.2
git+https://github.com/stephenmcd/grappelli-safe.git@eff133a#egg=grappelli-safe
html5lib==0.9999999
git+https://github.com/stephenmcd/mezzanine.git@1e343d0#egg=Mezzanine
oauthlib==1.1.1
Pillow==3.2.0
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.19
tzlocal==1.2.2
